.cuadro1{
    width: 700px;
    height: 1000px;
    background-color: green;
    margin-top: 60px;
    margin-left: 85px;
    margin-right: 300px;
    margin-bottom: 200px;
    

}
.relleno1{
    position: relative;
    width: 600px;
    height: 900px;
    background-color: white;
    left: 50px;
    top: 40px;
}
.relleno2{
    position: relative;
    width: 515px;
    height: 815px;
    background-color: goldenrod;
    left: 40px;
    top: 40px;
}
h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40px;
    color: blue;
    text-align: center;
}
.cuadro3{
    position: relative;
    width: 900px;
    height: 300px;
    background-color: darkkhaki;
    left: 300px;
    bottom: 70px;
    }
    h2{
        padding-top: 10%;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 50px;
        color: dodgerblue;
        text-align: center;
    }